.container-consulta-lacamento {
    
    position: absolute;
    top: 15%;
    left: 25%;
    
    width: 100%;
    max-width: 900px;

    .card-body {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 50%;
    }

}

.button-group {
    display: flex;
    column-gap: 10px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
